.Pose {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    }
    
    .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }
    
    .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    }
    
    .left-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    }
    
    .formTxt {
    font-size: 16px;
    }
    
    .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    }
    
    .timerBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    }
    
    .timerBtn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    }
    
    .timerBtn:hover {
    background-color: #3e8e41;
    }
    
    canvas, .webcam {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 400px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 9;
        }